<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link href="/css/x1.css" rel="stylesheet" media="screen and (min-width:800px)">	
<link href="/css/x-x1.css" rel="stylesheet" media="screen and (max-width:800px)">	

<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div class="bigpic" >
		<img ng-src="{{bigpic}}" alt="">
	</div>
	<div class="seperator"><div>热销机型</div></div>
	<div class="showzone">
		<div class="show-item" ng-repeat=" i in lst">
			<div class="show-pic">
				<a href="/x2.html?id={{i.id}}"><img ng-src="{{i.pic}}" height="200px" width="160px" alt=""></a>
			</div>
			<div class="show-title">
				<a href="/x2.html?id={{i.id}}">{{i.name}} </a>
			</div>
			<div class="show-desc">
				<div class="show-desc-item left">
					<span>￥ {{i.price}}起</span>
				</div>
				<div class="show-desc-item right">
					<span>月销量({{i.sold}})</span>
				</div>
			</div>
		</div>
	</div>
	<div class="seperator"><div>更多品牌</div></div>
	<div class="showzone">
		<img ng-src="image/apple.png" alt="">
	</div>
	<div class="seperator noline"><div>更多品牌敬请期待.....</div></div>

	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>


    <script data-main="js/x1" src="js/lib/require.js"></script>	
</body>
</html>