<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>

	<div class="topview">
		<div class="top-left">
			<img ng-src="{{opt.pic}}" alt="" height="320px" >
		</div>
		<div class="top-right" ng-if="uaData.ispc==true" ui-view="choseview">
			
		</div>
	</div>
	<div class="tabview">
		<div ng-if="uaData.ispc==false" class="seperator">{{opt.name}}</div>
		<div class="tab-navi">
			<a ng-if="uaData.ispc==false" ui-sref="chose" ng-class="{'active':state.name=='chose'}">选购</a>
			<a ui-sref="detail"ng-class="{'active':state.name=='detail'}">详情</a>
			<a ui-sref="comment"ng-class="{'active':state.name=='comment'}">评论 <span class="num">{{info.commentNum}}</span></a>
		</div>
		<div class="tab-show" ui-view="tagview"></div>
	</div>

	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>

	<link ng-href="{{'/css/'+cssprefix+'x2.css'}}" rel="stylesheet" >	
    <script data-main="js/x2" src="js/lib/require.js"></script>	
</body>
</html>