<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link href="/css/x3.css" rel="stylesheet" media="screen and (min-width:800px)">	
<link href="/css/x-x3.css" rel="stylesheet" media="screen and (max-width:800px)">	
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>

	<div  ng-if="uaData.ispc==true" ng-include="'x3-module/order.html'"></div>
	<div  ng-if="uaData.ispc==false" ui-view="xView"></div>
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>
	
    <script data-main="js/x3" src="js/lib/require.js"></script>	
</body>
</html>