<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>

<div class="info-frame noborder">
	<h1 class="code">订单:{{info.code}}</h1>
</div>
<div class="info-frame">
	<div class="info-item clearfix" ng-click="payby('ali');">
		<div class="left icon ali"></div>
		<div class="right" ng-class="{'active':paybyFlag==='ali'}">
			<h1>支付宝</h1>
			<h2>推荐支付宝用户使用</h2>
		</div>
	</div>
	<div class="info-item clearfix" ng-click="payby('weixin');">
		<div class="left icon weixin"></div>
		<div class="right" ng-class="{'active':paybyFlag==='weixin'}">
			<h1>微信</h1>
			<h2>推荐微信用户使用</h2>			
		</div>
	</div>
	<div class="info-item clearfix" ng-click="payby('cash');">
		<div class="left icon cash"></div>
		<div class="right noborder" ng-class="{'active':paybyFlag==='cash'}">
			<h1>现金支付</h1>
			<h2>仅支持杭州主城区</h2>			
		</div>
	</div>		
</div>
<div class="info-frame noborder">
	<div class="price-row">
		<span class="title">原价:</span>
		<span class="value price-ori">{{info.oripri}}</span>
	</div>
	<div class="price-row">
		<span class="title">邮费:</span>
		<span class="value">{{info.postfee}}</span>
	</div>
	<div class="price-row">
		<span class="title">红包:</span>
		<span class="value">{{info.hongbao}}</span>
	</div>
	<div class="price-row">
		<span class="price-total">合计￥{{info.totalPrice}}</span>
		<button class="btn-pill comfirm-btn" ng-click="postPay();">支付</button>	
	</div>	
</div>
<div class="module" ng-if="payDialog">
	<div class="module-background" ng-click="setpayDialog(false)"></div>
	<div class="module-window ">
		<h1>付款中</h1>	
		<h2>扫码下载机密手机APP，更多精彩等着您</h2>
		<div class="icon QRcode"></div>
		<div class="btn-row">
			<div class="btn-pill comfirm-btn" ng-click="goCenter()">成功</div>
			<div class="btn-pill comfirm-btn" ng-click="setpayDialog(false)">失败</div>
		</div>
	</div>
</div>
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>

	<link ng-href="{{'/css/'+cssprefix+'x4.css'}}" rel="stylesheet" >	
    <script data-main="js/x4" src="js/lib/require.js"></script>	
</body>
</html>