<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>

	<div class="tabview">
		<div class="tab-navi">
			<a ui-sref="all" ng-if="uaData.ispc==true" ng-class="{'active':state.name=='all'}">全部订单</a>		
			<a ui-sref="doing" ng-class="{'active':state.name=='doing'}">进行中</a>
			<a ui-sref="done"ng-class="{'active':state.name=='done'}">已完成</a>
			<a ui-sref="canceled"ng-class="{'active':state.name=='canceled'}">已取消</a>
		</div>
		<div class="tab-show" ui-view="tagview"></div>
	</div>
	<div class="tabview" ng-if="uaData.ispc==true&&state.name=='all'">
		<div class="tab-navi">
			<a class="active">红包</a>
		</div>
		<div class="tab-show" ui-view="hongbaoview"></div>
	</div>	

	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>

	<link ng-href="{{'/css/'+cssprefix+'x5.css'}}" rel="stylesheet" >	
    <script data-main="js/x5" src="js/lib/require.js"></script>	
</body>
</html>