<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link href="/css/x6.css" rel="stylesheet" media="screen and (min-width:800px)">	
<link href="/css/x-x6.css" rel="stylesheet" media="screen and (max-width:800px)">	
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>
<div class="tabview">
	<div class="tab-show" >
		<div class="view-item">
			<div ng-if="uaData.ispc==true" class="time-row">
				<time>{{i.orderTime}}</time>
			</div>
			<div class="content-row">
				<div class="info-col">
					<div class="left"><img ng-src="{{i.pic}}" alt=""></div>
					<div class="right">
						<div class="right-row">
							<span class="title">品牌：</span>
							<span class="value">{{i.brand}}</span>
						</div>
						<div class="right-row">
							<span class="title">型号：</span>
							<span class="value">{{i.name}}</span>
						</div>
						<div class="right-row">
							<span class="title">版本：</span>
							<span class="value">{{i.version}}{{i.color}}{{i.storage}}</span>
						</div>								
					</div>
				</div>
				<div ng-if="uaData.ispc==true" class="state-col"><h1>￥{{i.price}}</h1><p>{{i.cate}}</p></div>
			</div>
		</div>	
	</div>
</div>
<div class="tabview">
	<div class="tab-show" >
		<div class="view-item">
			<div ng-if="uaData.ispc==true" class="time-row">
				<time>评论商品</time>
			</div>
		<div ng-if="uaData.ispc==false" class="x-state-row">
			<span class="cate">评论商品</span>
		</div>			
			<div class="comment-row">
				<div class="item">
					<span class="title">价格满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.price" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<span class="title">质量满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.quality" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<span class="title">速度满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.speed" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<textarea name="" id="" cols="30" rows="8" ng-model="rating.text"placeholder="输入你的评论"></textarea>
				</div>								
			</div>
		</div>	
	</div>
</div>
<div class="tabview noborder">
	<div class="tab-show clearfix">
		<button class="btn-pill comfirm-btn" ng-click="postRating()">发表评论</button>
	</div>
</div>
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>
	
    <script data-main="js/x6" src="js/lib/require.js"></script>	
</body>
</html>