<!DOCTYPE html>
<html ng-controller="xCtrl">
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>机密+</title>
</head>
<body >
	<div class="header clearfix">
		<div ng-if="uaData.ispc==false" class="x-header left back-btn" back-button><a >&lt;</a></div>
		<div ng-if="uaData.ispc==false" class="x-header center head-detail"><span>评价</span></div>
		<div ng-if="uaData.ispc==false" class="x-header right"><a href="#"></a></div>
		<div ng-if="uaData.ispc==true" class="logo"><div class="pic-logo"><a href="/" ><img ng-src="/image/index.png" alt=""></a></div></div>
		<div ng-if="uaData.ispc==true" class="navi">
			<ul class="navi-ul">
				<li class="navi-li"><a href="#1">首页</a></li>
				<li class="navi-li"><a href="#2">维修</a></li>
				<li class="navi-li"><a href="/recycle.html">回收</a></li>
				<li class="navi-li active"><a href="#4">机密+</a></li>
				<li class="navi-li"><a href="#5">下载APP</a></li>
			</ul>
		</div>
		<div ng-if="uaData.ispc==true" class="user">
			<div class="user-btn"><a href="#reg">注册</a></div>
			<div class="user-btn"><a href="#log">登陆</a></div>
		</div>
	</div>
<div class="tabview">
	<div class="tab-show" >
		<div class="view-item">
			<div ng-if="uaData.ispc==true" class="time-row">
				<time>{{i.orderTime}}</time>
			</div>
			<div class="content-row">
				<div class="info-col">
					<div class="left"><img ng-src="{{i.pic}}" alt=""></div>
					<div class="right">
						<div class="right-row">
							<span class="title">品牌：</span>
							<span class="value">{{i.brand}}</span>
						</div>
						<div class="right-row">
							<span class="title">型号：</span>
							<span class="value">{{i.name}}</span>
						</div>
						<div class="right-row">
							<span class="title">版本：</span>
							<span class="value">{{i.version}}{{i.color}}{{i.storage}}</span>
						</div>								
					</div>
				</div>
				<div ng-if="uaData.ispc==true" class="state-col"><h1>￥{{i.price}}</h1><p>{{i.cate}}</p></div>
			</div>
		</div>	
	</div>
</div>
<div class="tabview">
	<div class="tab-show" >
		<div class="view-item">
			<div ng-if="uaData.ispc==true" class="time-row">
				<time>评论商品</time>
			</div>
		<div ng-if="uaData.ispc==false" class="x-state-row">
			<span class="cate">评论商品</span>
		</div>			
			<div class="comment-row">
				<div class="item">
					<span class="title">价格满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.price" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<span class="title">质量满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.quality" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<span class="title">速度满意度：</span>
					<span class="value">
						<div star-rating rating-value="rating.speed" max="5" on-rating-selected=""></div>
					</span>
				</div>
				<div class="item">
					<textarea name="" id="" cols="30" rows="8" ng-model="rating.text"placeholder="输入你的评论"></textarea>
				</div>								
			</div>
		</div>	
	</div>
</div>
<div class="tabview noborder">
	<div class="tab-show clearfix">
		<button class="btn-pill comfirm-btn" ng-click="postRating()">发表评论</button>
	</div>
</div>
	<div ng-if="uaData.ispc==false" class="xfooter">
		<div class="xnavi-item"><div><a href="">维修</a></div></div>
		<div class="xnavi-item active"><div><a href="">超值购机</a></div></div>
		<div class="xnavi-item"><div><a href="">回收</a></div></div>
	</div>
	<div ng-if="uaData.ispc==true" class="footer">
		<ul class="footer-ul">
			<li class="footer-li"><a href="#1">关于我们</a></li>
			<li class="footer-li"><a href="#1">招贤纳士</a></li>
			<li class="footer-li"><a href="#1">商家加盟</a></li>
			<li class="footer-li"><a href="#1">服务条款</a></li>
			<li class="footer-li"><a href="#1">帮助中心</a></li>
			<li class="footer-li"><a href="#1">xxxx有限公司</a></li>
			<li class="footer-li"><a href="#1">浙ICP备xxxxx号</a></li>
			<li class="footer-li"><a href="#1">电话 000-00000</a></li>			
		</ul>
	</div>	
	<link ng-href="{{'/css/'+cssprefix+'x6.css'}}" rel="stylesheet" >	
    <script data-main="js/x6" src="js/lib/require.js"></script>	
</body>
</html>