<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link href="/css/x6.css" rel="stylesheet" media="screen and (min-width:800px)">	
<link href="/css/x-x6.css" rel="stylesheet" media="screen and (max-width:800px)">	
<title>机密+</title>
</head>
<body ng-controller="xCtrl">
	<div ng-if="uaData.ispc==true" ng-include="'public-Module/header.html'" class="header clearfix"></div>
	<div ng-if="uaData.ispc==false&&uaData.ua!='unknow'" ng-include="'public-Module/x-header.html'" class="header clearfix"></div>
<div class="tabview">
	<div class="tab-show" >
<div class="view-item" >
	<div ng-if="uaData.ispc==true" class="time-row">
		<time>{{i.orderTime}}</time>
	</div>
	<div ng-if="uaData.ispc==false" class="x-state-row">
		<span class="cate">{{i.cate}}</span><span class="state">订单状态：{{i.orderDetail}}</span>
	</div>
	<div class="content-row">
		<div class="info-col">
			<div class="left"><img ng-src="{{i.pic}}" alt=""></div>
			<div class="right">
				<div class="right-row">
					<span class="title">品牌：</span>
					<span class="value">{{i.brand}}</span>
				</div>
				<div class="right-row">
					<span class="title">型号：</span>
					<span class="value">{{i.name}}</span>
				</div>
				<div class="right-row">
					<span class="title">版本：</span>
					<span class="value">{{i.version}}&nbsp;{{i.color}}&nbsp;{{i.storage}}</span>
				</div>								
			</div>
		</div>
		<div ng-if="uaData.ispc==true" class="state-col"><h1>￥{{i.price}}</h1><p>{{i.cate}}</p></div>
		<div ng-if="uaData.ispc==true" class="state-col"><h1>{{i.orderDetail}}</h1><p>订单详情</p></div>
		<div ng-if="uaData.ispc==true" class="button-col">
			<button ng-if="i.orderDetail=='待收货'" ng-click="action(3,i.code)"class="btn-pill custom-btn">确认收货</button>
			<button ng-if="i.orderDetail=='回收完成'" ng-click="action(4,i.code)"class="btn-pill custom-btn">评价</button>				
		</div>
	</div>
	<div ng-if="uaData.ispc==false" class="x-time-row clearfix">
		<time>{{i.orderTime}}</time>
		<button ng-if="i.orderDetail=='待收货'" ng-click="action(3,i.code)"class="btn-pill custom-btn">确认收货</button>
		<button ng-if="i.orderDetail=='回收完成'" ng-click="action(4,i.code)"class="btn-pill custom-btn">评价</button>
	</div>
</div>
	</div>
</div>
<div class="tabview noborder express">
	<div class="tab-show express-title">
		<h1 ng-if="uaData.ispc==true">收货人</h1>
		<div class="left">
			<div class="item name">{{express.contact.name}}</div>
			<div class="item">{{express.contact.location.p}}{{express.contact.location.c}}{{express.contact.location.d}}{{express.contact.location.text}}</div>
		</div>
		<div class="right phone">{{express.contact.phone}}</div>
	</div>
	<div class="tab-show express-content">
		<h1>物流跟踪</h1>
		<div class="process">
			<h2 ng-if="uaData.ispc==true"><span>物流公司：</span><span>{{express.company}}</span></h2>
			<h2 ng-if="uaData.ispc==true"><span>物流编号：</span><span>{{express.code}}</span></h2>
			<h2 ng-if="uaData.ispc==true"><span>物流追踪：</span></h2>
			<ul ng-if="uaData.ispc==true" >
				<li ng-repeat="i in express.process" class="pc" ng-class="{'now':$index==0}">{{i.time}} {{i.text}}</li>
			</ul>
			<ul ng-if="uaData.ispc==false" >
				<li ng-repeat="i in express.process" class="mobile"ng-class="{'now':$index==0}"><h3>{{i.text}}</h3><time>{{i.time}}</time></li>
				<li ng-if="express.process.length==0" class="mobile"><h3>暂无物流信息</h3></li>
			</ul>
		</div>
	</div>
</div>


	<div ng-if="uaData.ispc==true" ng-include="'public-Module/footer.html'" class="footer"></div>

    <script data-main="js/x6" src="js/lib/require.js"></script>	
</body>
</html>