<h1  class="subtitle">填写并核对订单信息</h1>
<div class="info-frame">
	<div class="info-item border-bottom">
		<h2>收货人<a href="javascript:;" ng-click="switchAddContact(true)">新增收货地址</a></h2>
		<div class="info-row" ng-repeat="i in contact.slice(0,showlength===undefine?3:showlength)">
			<button class="btn-pill" ng-click="setContact(i)" ng-class="{'active':i===currContact}">{{i.name}}</button><h3>{{i.location.p}}{{i.location.c}}{{i.location.d}}{{i.location.text}}  {{i.phone}}</h3>
		</div>
		<div class="more"><a href="javascript:;" ng-click="showlength=contact.length">more</a></div>
	</div>
	<div class="info-item">
		<h2>送货清单</h2>
		<div class="info-row">
			<div class="info-row-left">
				<h3>配送方式 {{info.way}}</h3>
				<button class="btn-pill" ng-click="setPosttime(i)" ng-class="{'active':i===currPosttime}" ng-repeat="i in info.posttime">{{i}}</button>
			</div>
			<div class="info-row-right">
				<div class="right">
					<img ng-src="{{info.detail.pic}}" alt="" height="100px" >
				</div>
				<div class="left">
					<div>{{info.detail.name}}</div>
					<h3>{{info.detail.version}} {{info.detail.color}} {{info.detail.storage}}x{{info.detail.num}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="info-frame price-frame">
<div class="order-row">
	<div class="price-row">
		<span class="title">原价</span>
		<span class="value price-ori">{{info.detail.oripri}}</span>
	</div>
	<div class="price-row">
		<span class="title">邮费</span>
		<span class="value">{{info.detail.postfee}}</span>
	</div>
	<div class="price-row">
		<span class="title">红包</span>
		<div class="custom-dropdown">
			<div class="dropdown-show" ng-click="switchDropdown()">{{hongBao.name}}</div>
			<ul ng-class="{'active':dropdownActive}">
				<li ng-repeat="i in hongbaoLst" ng-click="useHongBao(i)">{{i.name}}</li>
			</ul>
		</div>
	</div>
	<div class="price-row">
		<span class="price-total">合计￥{{info.detail.price*info.detail.num-hongBao.price}}</span>
		<button class="btn-pill comfirm-btn" ng-click="postOrder();">下单</button>	
	</div>	
</div>	
</div>
<div class="module" ng-if="addContactFlag" ng-controller="addContCtrl">
	<div class="module-background" ng-click="switchAddContact(false)"></div>
	<div class="module-window module-addcontact">
		<h1>新增收货地址</h1>
		<div class="module-row">
			<span>联系人</span>
			<input type="text" ng-model="newContact.name" placeholder="姓名">
		</div>
		<div class="module-row">
			<span>联系电话</span>
			<input type="text" ng-model="newContact.phone" placeholder="电话">
		</div>
		<div class="module-row ">
			<span>上门地址</span>
			<select name="" id="" ng-model="newContact.location.p"  ng-change="newContact.location.c='';newContact.location.d='';t_c=f_n(newContact.location.p,sites).s;">
				<option value="{{i.n}}" ng-repeat="i in sites">{{i.n}}</option>
			</select>
			<select name="" id="" ng-model="newContact.location.c"  ng-change="t_d=f_n(newContact.location.c,t_c).s;newContact.location.d='';">
				<option value="{{i.n}}" ng-repeat="i in t_c">{{i.n}}</option>
			</select>
			<select name="" id="" ng-model="newContact.location.d"  ng-change="">
				<option value="{{i.n}}" ng-repeat="i in t_d">{{i.n}}</option>
			</select>						
		</div>				
		<div class="module-row">
			<span></span>
			<textarea ng-model="newContact.location.text"  >{{newContact.location.text}}</textarea>
		</div>
		<div class="module-row">
			<button class="btn-pill comfirm-btn" ng-click="postNewContact()">确认添加</button>
		</div>								
	</div>
</div>