<div class="order-row">
	<div class="right">
		<img ng-src="{{info.detail.pic}}" alt="" height="100px" >
	</div>
	<div class="left">
		<div>{{info.detail.name}}</div>
		<h3>{{info.detail.version}} {{info.detail.color}} {{info.detail.storage}}x{{info.detail.num}}</h3>
	</div>	
</div>
<div class="order-row">
	<div ng-if='currContact!==undefined' class="userinfo">
		<a ui-sref="chooseContact">
			<div class="name"><span class="icon"></span>{{currContact.name}}</div>
			<div class="phone"><span class="icon"></span>{{currContact.phone}}</div>
			<div class="location">{{currContact.location.p}}{{currContact.location.c}}{{currContact.location.d}}{{currContact.location.text}}</div>			
		</a>
	</div>
	<div ng-if='currContact===undefined' class="userinfo addAddress">
		<a ui-sref="chooseContact"><div class="location">添加地址</div></a>
	</div>
	<div ng-if='currContact===undefined'class="chose-contact-btn"><a ui-sref="addContact">&gt;</a></div>
	<div ng-if='currContact!==undefined'class="chose-contact-btn"><a ui-sref="chooseContact">&gt;</a></div>
</div>
<div class="order-row">
	<h3>配送方式&nbsp;<span>{{info.way}}</span></h3>
	<button class="btn-pill" ng-click="setPosttime(i)" ng-class="{'active':i===currPosttime}" ng-repeat="i in info.posttime">{{i}}</button>	
</div>

<div class="order-row">
	<div class="price-row">
		<span class="title">原价</span>
		<span class="value price-ori">￥{{info.detail.oripri}}</span>
	</div>
	<div class="price-row">
		<span class="title">邮费</span>
		<span class="value">￥{{info.detail.postfee}}</span>
	</div>
	<div class="price-row">
		<span class="title">红包</span>
		<a ui-sref='hongbao.available'><span class="value">{{hongBao.name}}&gt;</span></a>
<!-- 		<select class="value" name="" id="" ng-model="hongBao"  ng-change="totalPrice=info.detail.price*info.detail.num-hongBao;">
			<option value="{{i}}" ng-repeat="i in info.hongbao">{{i}}</option>
		</select> -->
	</div>
	<div class="price-row clearfix">
		<span class="price-total">合计￥{{info.detail.price*info.detail.num-hongBao.price}}</span>
	</div>	
</div>	
<div class="comfirm-row">
	<button class="btn-pill comfirm-btn" ng-click="postOrder();">下单</button>	
</div>