@import 'x-layout.less';
@import 'x4-common.less';

@media (max-width: 800px) {
	.info-frame{
		.price-row{
			span{
			}
			.title{
				float: left;
				text-align: left;
				font-size: 1em;
			}
			.value{
			}
			select{
				
			}
			.price-total{
				
			}
		}		
	}
	.comfirm-btn{
		display: block;
		height: 2.6em;
		width: 100%;
		margin: 0;

	}	
}
