@import 'x-layout.less';
@import 'x4-common.less';

@media (max-width: 800px) {
		.price-row{
			text-align: left;
			span{
			}
			.title{
				font-size: 1em;
			}
			.value{
				float:right;
			}
			select{
				
			}
			.comfirm-btn{
				display: block;
				height: 2em;
				width: 100%;
				margin: 0;

			}
			.price-total{
				
			}
		}
}
