@import 'x-layout.less';
@import 'x5-common.less';

@media (max-width: 800px) {
	.tabview{
		.tab-show{
			.view-item{
				border-top: 1em solid @greyColor + 30;
				>div{
					padding: 0 1em 0 1em;
				}
			.x-state-row{
				line-height: 2em;
				.cate{
					font-size: 1em;
				}
				.state{
					float: right;
					font-size: 1em;
					color:@blueColor;
				}
			}	
			.content-row{
				border-top: 1px solid @greyColor;
				border-bottom: 1px solid @greyColor;
				.info-col{
					position: relative;
					width: 100%;
					// height: 126px;
					>div{
						display: inline-block;
						vertical-align: middle;
					}
					.left{
						width: 6em;
						text-align: center;
						img{
							width: 100%;
							// height: 100%;
						}
					}
					.right{
						display: inline-block;
						vertical-align: middle;
						.right-row{
							margin-bottom: 1em;
							font-size: 0.8em;
							.title{
								color: @blueColor;
							}
							.value{
								color:@greyColor;
							}				
						}
					}
					.right-right{
						display:block;
						float: right;
						width: auto;
						height: 100%;
						a{
							display: block;
							height: 35px;
							width: 35px;
							margin-top: 40px;
							background:url('@{image}/sprite.png');
						    background-size: 100%;
    						background-position-y: 49%;	
						}
					}			
				}
			}	
			.x-time-row{
				time{
					position: relative;
					padding-left: 2em;
					line-height: 3em;
					font-size: 0.8em;
					color:@greyColor;
					&:before{
					    content: '';
					    position: absolute;
					    display: block;
					    height: 15px;
					    width: 15px;
					    top: 0px;
					    left: 0;
					    background: url('/image/sprite.png') no-repeat;
					    background-size: 15px;
					    background-position: 00% 65%	
					}					
				}
				.custom-btn{
					float: right;
					width: 6em;
					height: 2em;
					margin: 0.5em 0 0.5em 0;
					color:@blueColor;
					border-color:@blueColor;
				}	
			}						
			}	
		}
	}	
}
