@import 'layout.less';
@import 'x1-common.less';

@media (min-width: 800px) {
	.show-item{
		width: 30%;
		margin: 17px;
		border: 1px solid @greyColor;
	}
	.show-desc-item{
		padding: 5px;
	   	&.left{
			font-size: 1.5em;
		}
		&.right{
			font-size: 1em;
		}
	}	
}

