//dfd
@import 'common.less';

.topview{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}
.top-left{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	max-width: 500px;
	&:after{
		content: "";
		display:inline-block;
		height: 100%;
		vertical-align: middle;
	}
	img{
		vertical-align: middle;
	}
}
.top-right{
	display: inline-block;
	position: relative;
	vertical-align: middle;	
	max-width: 500px;	
}