@import 'layout.less';
@import 'x2-common.less';

@media (min-width: 800px) {
	.topview{
		margin: 50px 0 50px 0;
		
	}
	.top-left{
		width: 45%;
		img{
			border: 1px solid @greyColor;					
		}
	}
	.top-right{
		width: 45%;
	}	
}

