//dfd
@import 'common.less';
.info-frame.price-frame{
	border: 0;
	margin-bottom: 10px;	
}
.price-row{
	width: 100%;
	margin-top: 5px; 
	text-align: right;
	span{
		display: inline-block;
	}
	.title{
		font-size: 1.2em;
		width: 4em;
		margin-right: 1em;
	}
	.value{
		width: 5em;
		font-size: 1.2em;
		color:@orangeColor;
	}
	.comfirm-btn{
		height: 1.6em;
		width: 6em;
		margin-right: 0;
	}
	.price-total{
		color:@orangeColor;
		font-size: 2em;
	}
}