@import 'layout.less';
@import 'x6-common.less';

@media (min-width: 800px) {
	.tabview{
		margin-top: 2em;
		.view-item{
			// margin-top: 1em;
			// border-bottom:1px solid @greyColor; 
		
			.time-row{
				background: @greyColor + 30;
				padding: 8px 16px 8px 16px; 
				time{
				}
			}
			.content-row{
				>div{
					height: 8em;
					vertical-align: bottom;
				}
				.info-col{
					position: relative;
					width: 47%;
					border-right: 1px solid @greyColor;
					.left{
						display: inline-block;
						height: 100%;
						width: 20%;
						vertical-align: middle;
						text-align: center;
						img{
							height: 100%;
						}
					}
					.right{
						display: inline-block;
						vertical-align: middle;
						.right-row{
							margin-bottom: 1em;
							.title{
								color: @blueColor;
							}
							.value{
								color:@greyColor;
							}				
						}
					}
				}
				.state-col{
					width: 17%;
					border-right: 1px solid @greyColor;
					text-align: center;
					h1{
						margin: 2em 0 0.5em 0;
						font-size: 1.2em;
						color:@greyColor;
					}
					p{
						margin: 0;
						font-size: 1em;
					}
				}
				.btn-col{
					width: 17%;
				}
				.custom-btn{
					width: 6em;
					height: 2em;
					margin: 3em 0 0 3.5em;
					border-color:@blueColor;
					color: @blueColor;
					font-size: 1em;
				}
			}
		}
		.comfirm-btn{
			// margin: 0 0 1em 0;
			float: right;
		}		
		.express-title{

			h1{
				margin: 0 0 1em 1em;
				font-size: 1.2em
			}
			.left,.right{
				margin-bottom: 1.2em;
				display: inline-block;
				color:@greyColor;
				.item{
					display: inline-block;
				}
			}
			.left{
				position: relative;
				padding-left: 35px;
				:before{
				    content: '';
				    position: absolute;
				    display: block;
				    height: 35px;
				    width: 25px;
				    top: -8px;
				    left: 0;
				    background: url('/image/sprite.png') no-repeat;
				    background-size: 25px;
				    background-position: 00% 57%				
				}					
			}
		}
		.express-content{
			border: 1px solid @blueColor;
			background: @greenColor0;
			h1{
				margin: 0.2em 1em 0.2em 1em;
				padding: 0.5em;
				border-bottom: 1px solid @blueColor;
				font-size:1.2em;
			}
			.process{
				padding: 0.5em;
				margin: 1.2em;
				h2{
					margin: 0.5em 0 0.5em 0;
					font-size: 1em;
					font-weight: normal;
					span{
						margin: 0 1em 0 0;
					}
				}
				ul{
					li{
						margin: 0.5em;
						&.now{
							color:@redColor;
						}
					}
				}
			}
		}		
	}
}