<div class="view-row">
	<h1>{{opt.name}}</h1>
</div>
<div class="view-row view-row-price view-row-price-up">
	<h2>原价  ￥<strike>{{opt.oripri}}</strike></h2>
	<div><span class="view-price-title">超值购机价</span><span class="view-price">￥{{good===''?'--':num*good.price}}</span></div>	
</div>
<div class="view-row" >
	<span class="opt-label">版本</span><button ng-repeat="it in opt.version" ng-class="{'active':ver==it}"ng-click="setVer(it)"  class="opt-pill btn-pill">{{it}}</button>
</div>
<div class="view-row" >
	<span class="opt-label">颜色</span><button ng-repeat="it in opt.color" ng-class="{'active':color==it}"ng-click="setColor(it)" ng-disabled="!checkColor(it)" class="opt-pill btn-pill">{{it}}</button>
</div>
<div class="view-row" >
	<span class="opt-label">容量</span><button ng-repeat="it in opt.storage" ng-class="{'active':strg==it}"ng-click="setStrg(it)"ng-disabled="!checkStrg(it)" class="opt-pill btn-pill">{{it}}</button>
</div>
<div class="view-row" >
	<span class="opt-label">数量</span><button ng-click="addNum(false)" ng-disabled="num<=1"  class="change-num">-</button>{{num}}<button ng-click="addNum(true)" class="change-num">+</button>
</div>				
<span class="opt-label"></span>								
<div class="view-row">
<div class="view-row-price view-row-price-down">
	<h2>原价  ￥{{opt.oripri}}</h2>
	<div><span class="view-price-title">合计  </span><span class="view-price">￥{{good===''?'--':num*good.price}}</span></div>	
</div>
<button ng-disabled="!checkPrice()" ng-click="comfirm()" class="btn-pill comfirm-btn">确认下单</button>
</div>